.hero-section{
  background-image: url(about.jpg);
  padding: 100px;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
