.hero-section{
  background-image: url(contact.png);
  padding: 100px;
  height: 300px;
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;


}
